# Pandas Basics

<br>
## 1. Read in csv, excel, and txt

In [3]:
import pandas as pd

## CSV
df = pd.read_csv('/Users/vincentvogel/Desktop/new_me/sample_data/pokemon_data.csv')
#print(df.head(4))
#print(df.tail(4))

In [4]:
## EXCEL
df_xlsx = pd.read_excel('/Users/vincentvogel/Desktop/new_me/sample_data/pokemon_data.xlsx')
#print(df_xlsx.head(3))

In [5]:
## TXT
df_txt = pd.read_csv('/Users/vincentvogel/Desktop/new_me/sample_data/pokemon_data.txt', delimiter='\t')
#print(df_txt.head(2))

<br><br>
***
<br>
## 2. Read Headers, Columns, Rows, and Specific Locations

In [6]:
print(df.columns)

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

### *Get a specific column*

In [7]:
print(df['Name']) # you can also do df.Name

0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object

### *Get first 5 names*

In [8]:
print(df['Name'][0:5])

0                Bulbasaur
1                  Ivysaur
2                 Venusaur
3    VenusaurMega Venusaur
4               Charmander
Name: Name, dtype: object

### *Include only specific columns*

In [9]:
print(df[['Name', 'Type 1', 'Type 2', 'HP']])

                      Name   Type 1  Type 2  HP
0                Bulbasaur    Grass  Poison  45
1                  Ivysaur    Grass  Poison  60
2                 Venusaur    Grass  Poison  80
3    VenusaurMega Venusaur    Grass  Poison  80
4               Charmander     Fire     NaN  39
..                     ...      ...     ...  ..
795                Diancie     Rock   Fairy  50
796    DiancieMega Diancie     Rock   Fairy  50
797    HoopaHoopa Confined  Psychic   Ghost  80
798     HoopaHoopa Unbound  Psychic    Dark  80
799              Volcanion     Fire   Water  80

[800 rows x 4 columns]

### *Gets all the data from row 1*

In [10]:
print(df.iloc[1])

#                   2
Name          Ivysaur
Type 1          Grass
Type 2         Poison
HP                 60
Attack             62
Defense            63
Sp. Atk            80
Sp. Def            80
Speed              60
Generation          1
Legendary       False
Name: 1, dtype: object

### *Get rows 1-4*

In [11]:
print(df.iloc[1:5])

   #                   Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
1  2                Ivysaur  Grass  Poison  60      62       63       80
2  3               Venusaur  Grass  Poison  80      82       83      100
3  3  VenusaurMega Venusaur  Grass  Poison  80     100      123      122
4  4             Charmander   Fire     NaN  39      52       43       60

   Sp. Def  Speed  Generation  Legendary
1       80     60           1      False
2      100     80           1      False
3      120     80           1      False
4       50     65           1      False

### *Gets the index and name for all rows*

In [12]:
#for index, row in df.iterrows():
#    print(index, row['Name'])

### *Gets all fire type pokemon*

In [13]:
df.loc[df['Type 1'] == "Fire"]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False
42,37,Vulpix,Fire,NaN,38,41,40,50,65,65,1,False
43,38,Ninetales,Fire,NaN,73,76,75,81,100,100,1,False
63,58,Growlithe,Fire,NaN,55,70,45,70,50,60,1,False
64,59,Arcanine,Fire,NaN,90,110,80,100,80,95,1,False
83,77,Ponyta,Fire,NaN,50,85,55,65,65,90,1,False
84,78,Rapidash,Fire,NaN,65,100,70,80,80,105,1,False
135,126,Magmar,Fire,NaN,65,95,57,100,85,93,1,False
147,136,Flareon,Fire,NaN,65,130,60,95,110,65,1,False
158,146,Moltres,Fire,Flying,90,100,90,125,85,90,1,True
169,155,Cyndaquil,Fire,NaN,39,52,43,60,50,65,2,False
170,156,Quilava,Fire,NaN,58,64,58,80,65,80,2,False
171,157,Typhlosion,Fire,NaN,78,84,78,109,85,100,2,False
236,218,Slugma,Fire,NaN,40,40,40,70,40,20,2,False
237,219,Magcargo,Fire,Rock,50,50,120,80,80,30,2,False
259,240,Magby,Fire,NaN,45,75,37,70,55,83,2,False
263,244,Entei,Fire,NaN,115,115,85,90,75,100,2,True
270,250,Ho-oh,Fire,Flying,106,130,90,110,154,90,2,True
276,255,Torchic,Fire,NaN,45,60,40,70,50,45,3,False
277,256,Combusken,Fire,Fighting,60,85,60,85,60,55,3,False
278,257,Blaziken,Fire,Fighting,80,120,70,110,70,80,3,False
279,257,BlazikenMega Blaziken,Fire,Fighting,80,160,80,130,80,100,3,False
352,322,Numel,Fire,Ground,60,60,40,65,45,35,3,False
353,323,Camerupt,Fire,Ground,70,100,70,105,75,40,3,False
354,323,CameruptMega Camerupt,Fire,Ground,70,120,100,145,105,20,3,False
355,324,Torkoal,Fire,NaN,70,85,140,85,70,20,3,False
435,390,Chimchar,Fire,NaN,44,58,44,58,44,61,4,False
436,391,Monferno,Fire,Fighting,64,78,52,78,52,81,4,False
437,392,Infernape,Fire,Fighting,76,104,71,104,71,108,4,False
518,467,Magmortar,Fire,NaN,75,95,67,125,95,83,4,False
542,485,Heatran,Fire,Steel,91,90,106,130,106,77,4,True
557,498,Tepig,Fire,NaN,65,63,45,45,45,45,5,False
558,499,Pignite,Fire,Fighting,90,93,55,70,55,55,5,False
559,500,Emboar,Fire,Fighting,110,123,65,100,65,65,5,False
572,513,Pansear,Fire,NaN,50,53,48,53,48,64,5,False
573,514,Simisear,Fire,NaN,75,98,63,98,63,101,5,False
614,554,Darumaka,Fire,NaN,70,90,45,15,45,50,5,False
615,555,DarmanitanStandard Mode,Fire,NaN,105,140,55,30,55,95,5,False
616,555,DarmanitanZen Mode,Fire,Psychic,105,30,105,140,105,55,5,False
692,631,Heatmor,Fire,NaN,85,97,66,105,66,65,5,False
721,653,Fennekin,Fire,NaN,40,45,40,62,60,60,6,False
722,654,Braixen,Fire,NaN,59,59,58,90,70,73,6,False
723,655,Delphox,Fire,Psychic,75,69,72,114,100,104,6,False
730,662,Fletchinder,Fire,Flying,62,73,55,56,52,84,6,False
731,663,Talonflame,Fire,Flying,78,81,71,74,69,126,6,False
735,667,Litleo,Fire,Normal,62,50,58,73,54,72,6,False
736,668,Pyroar,Fire,Normal,86,68,72,109,66,106,6,False
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

### *Specific location (R,C)*

In [14]:
print(df.iloc[2,1]) # row 2 column 1

Venusaur

<br><br>
***
<br>
## 3. Sorting/Describing Data

### *Get the mean, std, and other stats from each column*

In [15]:
df.describe()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

### *Sorts pokemon alphabetically (descending)*

In [16]:
df.sort_values('Name', ascending=False)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True
695,634,Zweilous,Dark,Dragon,72,85,70,65,70,58,5,False
46,41,Zubat,Poison,Flying,40,45,35,30,40,55,1,False
631,570,Zorua,Dark,NaN,40,65,40,80,40,65,5,False
632,571,Zoroark,Dark,NaN,60,105,60,120,60,105,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...
393,359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,3,False
392,359,Absol,Dark,NaN,65,130,60,75,60,75,3,False
68,63,Abra,Psychic,NaN,25,20,15,105,55,90,1,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False
510,460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False

### *Sort multiple columns each with different ascending/descending values*

In [17]:
df.sort_values(['Type 1', 'HP'], ascending=[1,0])

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
520,469,Yanmega,Bug,Flying,86,76,86,116,56,95,4,False
698,637,Volcarona,Bug,Fire,85,60,65,135,105,100,5,False
231,214,Heracross,Bug,Fighting,80,125,75,40,95,85,2,False
232,214,HeracrossMega Heracross,Bug,Fighting,80,185,115,40,105,75,2,False
678,617,Accelgor,Bug,NaN,80,70,40,100,60,145,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...
106,98,Krabby,Water,NaN,30,105,90,25,25,50,1,False
125,116,Horsea,Water,NaN,30,40,70,70,25,60,1,False
129,120,Staryu,Water,NaN,30,45,55,70,55,85,1,False
139,129,Magikarp,Water,NaN,20,10,55,15,20,80,1,False
381,349,Feebas,Water,NaN,20,15,20,10,55,80,3,False

<br><br>
***
<br>
## 4. Making Changes to the Data

### *Make a new column*

In [18]:
df['Total'] = df.iloc[:, 4:10].sum(axis=1) # axis=0 will sum vertically
df.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309

### *Delete/Drop a column*

In [19]:
#df = df.drop(columns=['Total'])
#df.head(5)

### *Change the order of columns*

In [20]:
cols = list(df.columns.values)
df = df[cols[0:10] + [cols[-1]] + cols[10:12]]
df.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,318,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,405,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,525,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,625,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,309,1,False

<br><br>
***
<br>
## 5. Exporting Data into Desired Format

In [21]:
df.to_csv('/Users/vincentvogel/Desktop/new_me/Python/Pandas/basics/modified_pokemon_data.csv', index=False)
df.to_excel('/Users/vincentvogel/Desktop/new_me/Python/Pandas/basics/modified_pokemon_data.xlsx', index=False)
df.to_csv('/Users/vincentvogel/Desktop/new_me/Python/Pandas/basics/modified_pokemon_data.txt', index=False, sep='\t')

<br><br>
***
<br>
## 6. Filtering Data

### *Get the rows with specific conditions and export it*

In [22]:
grass_poison = df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison') & (df['HP'] > 70)] 
grass_poison.to_csv('/Users/vincentvogel/Desktop/new_me/Python/Pandas/basics/filtered.csv')

### *Reset the index and get rid of old indeces*

In [23]:
grass_poison.reset_index(drop=True, inplace=True) #inplace saves these changes to the data frame 
grass_poison

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary
0,3,Venusaur,Grass,Poison,80,82,83,100,100,80,525,1,False
1,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,625,1,False
2,45,Vileplume,Grass,Poison,75,80,85,110,90,50,490,1,False
3,71,Victreebel,Grass,Poison,80,105,65,100,70,70,490,1,False
4,591,Amoonguss,Grass,Poison,114,85,70,85,80,30,464,5,False

### *Exclude certain values*

In [24]:
no_mega = df.loc[~df['Name'].str.contains('Mega')] # ~ is not
no_mega

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,318,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,405,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,525,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,309,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,405,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,600,6,True
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,600,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,600,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,680,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,600,6,True

### *Using REGEX*

In [25]:
import re

# Get fire or grass type
df.loc[df['Type 1'].str.contains('fire|grass', flags=re.I, regex=True)] #flags=re.I is ignore case

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,318,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,405,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,525,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,625,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,309,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
735,667,Litleo,Fire,Normal,62,50,58,73,54,72,369,6,False
736,668,Pyroar,Fire,Normal,86,68,72,109,66,106,507,6,False
740,672,Skiddo,Grass,NaN,66,65,48,62,57,52,350,6,False
741,673,Gogoat,Grass,NaN,123,100,62,97,81,68,531,6,False
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,600,6,True

In [26]:
# Get all names that start with pi
df.loc[df['Name'].str.contains('^pi[a-z]*', flags=re.I, regex=True)]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary
20,16,Pidgey,Normal,Flying,40,45,40,35,35,56,251,1,False
21,17,Pidgeotto,Normal,Flying,63,60,55,50,50,71,349,1,False
22,18,Pidgeot,Normal,Flying,83,80,75,70,70,101,479,1,False
23,18,PidgeotMega Pidgeot,Normal,Flying,83,80,80,135,80,121,579,1,False
30,25,Pikachu,Electric,NaN,35,55,40,50,50,90,320,1,False
136,127,Pinsir,Bug,NaN,65,125,100,55,70,85,500,1,False
137,127,PinsirMega Pinsir,Bug,Flying,65,155,120,65,90,105,600,1,False
186,172,Pichu,Electric,NaN,20,40,15,35,35,60,205,2,False
219,204,Pineco,Bug,NaN,50,65,90,35,35,15,290,2,False
239,221,Piloswine,Ice,Ground,100,100,80,60,60,50,450,2,False
438,393,Piplup,Water,NaN,53,51,53,61,56,40,314,4,False
558,499,Pignite,Fire,Fighting,90,93,55,70,55,55,418,5,False
578,519,Pidove,Normal,Flying,50,55,50,36,30,43,264,5,False

### *Change the name of Fire*

In [27]:
df.loc[df['Type 1'] == 'Fire', 'Type 1'] = 'Fire'
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,318,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,405,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,525,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,625,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,309,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,600,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,700,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,600,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,680,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,600,6,True

### *Make all Fire type pokemon legendary*

In [28]:
df.loc[df['Type 1'] == 'Fire', 'Legendary'] = True
print(df)
df = pd.read_csv('/Users/vincentvogel/Desktop/new_me/Python/Pandas/basics/modified_pokemon_data.csv')

       #                   Name   Type 1  Type 2  HP  Attack  Defense  \
0      1              Bulbasaur    Grass  Poison  45      49       49
1      2                Ivysaur    Grass  Poison  60      62       63
2      3               Venusaur    Grass  Poison  80      82       83
3      3  VenusaurMega Venusaur    Grass  Poison  80     100      123
4      4             Charmander     Fire     NaN  39      52       43
..   ...                    ...      ...     ...  ..     ...      ...
795  719                Diancie     Rock   Fairy  50     100      150
796  719    DiancieMega Diancie     Rock   Fairy  50     160      110
797  720    HoopaHoopa Confined  Psychic   Ghost  80     110       60
798  720     HoopaHoopa Unbound  Psychic    Dark  80     160       60
799  721              Volcanion     Fire   Water  80     110      120

     Sp. Atk  Sp. Def  Speed  Total  Generation  Legendary
0         65       65     45    318           1      False
1         80       80     60    405           1      False
2        100      100     80    525           1      False
3        122      120     80    625           1      False
4         60       50     65    309           1       True
..       ...      ...    ...    ...         ...        ...
795      100      150     50    600           6       True
796      160      110    110    700           6       True
797      150      130     70    600           6       True
798      170      130     80    680           6       True
799      130       90     70    600           6       True

[800 rows x 13 columns]

### *You can change the values for multiple columns given a condition*

In [29]:
df.loc[df['Total'] > 500, ['Generation', 'Legendary']] = 'OH YEAH'
print(df)
df = pd.read_csv('/Users/vincentvogel/Desktop/new_me/Python/Pandas/basics/modified_pokemon_data.csv')

       #                   Name   Type 1  Type 2  HP  Attack  Defense  \
0      1              Bulbasaur    Grass  Poison  45      49       49
1      2                Ivysaur    Grass  Poison  60      62       63
2      3               Venusaur    Grass  Poison  80      82       83
3      3  VenusaurMega Venusaur    Grass  Poison  80     100      123
4      4             Charmander     Fire     NaN  39      52       43
..   ...                    ...      ...     ...  ..     ...      ...
795  719                Diancie     Rock   Fairy  50     100      150
796  719    DiancieMega Diancie     Rock   Fairy  50     160      110
797  720    HoopaHoopa Confined  Psychic   Ghost  80     110       60
798  720     HoopaHoopa Unbound  Psychic    Dark  80     160       60
799  721              Volcanion     Fire   Water  80     110      120

     Sp. Atk  Sp. Def  Speed  Total Generation Legendary
0         65       65     45    318          1     False
1         80       80     60    405          1     False
2        100      100     80    525    OH YEAH   OH YEAH
3        122      120     80    625    OH YEAH   OH YEAH
4         60       50     65    309          1     False
..       ...      ...    ...    ...        ...       ...
795      100      150     50    600    OH YEAH   OH YEAH
796      160      110    110    700    OH YEAH   OH YEAH
797      150      130     70    600    OH YEAH   OH YEAH
798      170      130     80    680    OH YEAH   OH YEAH
799      130       90     70    600    OH YEAH   OH YEAH

[800 rows x 13 columns]

<br><br>
***
<br>
## 7. Aggregate Statistics (Groupby)

### *Get average stats for all types*

In [30]:
df.groupby(['Type 1']).mean()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary
Type 1,,,,,,,,,,
Bug,334.492754,56.884058,70.971014,70.724638,53.869565,64.797101,61.681159,378.927536,3.217391,0.000000
Dark,461.354839,66.806452,88.387097,70.225806,74.645161,69.516129,76.161290,445.741935,4.032258,0.064516
Dragon,474.375000,83.312500,112.125000,86.375000,96.843750,88.843750,83.031250,550.531250,3.875000,0.375000
Electric,363.500000,59.795455,69.090909,66.295455,90.022727,73.704545,84.500000,443.409091,3.272727,0.090909
Fairy,449.529412,74.117647,61.529412,65.705882,78.529412,84.705882,48.588235,413.176471,4.117647,0.058824
Fighting,363.851852,69.851852,96.777778,65.925926,53.111111,64.703704,66.074074,416.444444,3.370370,0.000000
Fire,327.403846,69.903846,84.769231,67.769231,88.980769,72.211538,74.442308,458.076923,3.211538,0.096154
Flying,677.750000,70.750000,78.750000,66.250000,94.250000,72.500000,102.500000,485.000000,5.500000,0.500000
Ghost,486.500000,64.437500,73.781250,81.187500,79.343750,76.468750,64.343750,439.562500,4.187500,0.062500
Grass,344.871429,67.271429,73.214286,70.800000,77.500000,70.428571,61.928571,421.142857,3.357143,0.042857
Ground,356.281250,73.781250,95.750000,84.843750,56.468750,62.750000,63.906250,437.500000,3.156250,0.125000
Ice,423.541667,72.000000,72.750000,71.416667,77.541667,76.291667,63.458333,433.458333,3.541667,0.083333
Normal,319.173469,77.275510,73.469388,59.846939,55.816327,63.724490,71.551020,401.683673,3.051020,0.020408
Poison,251.785714,67.250000,74.678571,68.821429,60.428571,64.392857,63.571429,399.142857,2.535714,0.000000
Psychic,380.807018,70.631579,71.456140,67.684211,98.403509,86.280702,81.491228,475.947368,3.385965,0.245614
Rock,392.727273,65.363636,92.863636,100.795455,63.340909,75.477273,55.909091,453.750000,3.454545,0.090909
Steel,442.851852,65.222222,92.703704,126.370370,67.518519,80.629630,55.259259,487.703704,3.851852,0.148148
Water,303.089286,72.062500,74.151786,72.946429,74.812500,70.517857,65.964286,430.455357,2.857143,0.035714

### *Non-legendary type average stats*

In [31]:
df.loc[df['Legendary'] == False].groupby(['Type 1']).mean()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary
Type 1,,,,,,,,,,
Bug,334.492754,56.884058,70.971014,70.724638,53.869565,64.797101,61.681159,378.927536,3.217391,0.0
Dark,451.517241,64.655172,86.862069,68.689655,70.620690,67.827586,73.689655,432.344828,3.965517,0.0
Dragon,447.350000,72.650000,103.400000,78.150000,72.900000,77.400000,72.350000,476.850000,3.750000,0.0
Electric,358.050000,57.325000,66.125000,65.425000,86.275000,72.325000,82.275000,429.750000,3.275000,0.0
Fairy,432.875000,70.875000,57.187500,63.875000,75.250000,83.875000,45.437500,396.500000,4.000000,0.0
Fighting,363.851852,69.851852,96.777778,65.925926,53.111111,64.703704,66.074074,416.444444,3.370370,0.0
Fire,322.957447,67.085106,82.191489,64.531915,86.000000,69.042553,73.276596,442.127660,3.234043,0.0
Flying,714.500000,62.500000,50.000000,57.500000,71.000000,60.000000,89.000000,390.000000,6.000000,0.0
Ghost,486.466667,58.733333,71.366667,79.266667,77.300000,74.233333,62.633333,423.533333,4.200000,0.0
Grass,336.074627,65.940299,72.119403,70.283582,76.343284,69.044776,59.701493,413.432836,3.313433,0.0
Ground,333.750000,70.821429,88.000000,79.821429,47.750000,59.571429,59.750000,405.714286,3.035714,0.0
Ice,438.318182,70.818182,73.227273,68.818182,75.727273,68.454545,63.090909,420.136364,3.681818,0.0
Normal,315.625000,76.489583,72.083333,58.697917,54.895833,62.656250,70.750000,395.572917,3.031250,0.0
Poison,251.785714,67.250000,74.678571,68.821429,60.428571,64.392857,63.571429,399.142857,2.535714,0.0
Psychic,374.093023,67.720930,54.953488,61.000000,88.302326,80.674419,70.348837,423.000000,3.418605,0.0
Rock,370.650000,65.125000,89.925000,97.125000,60.125000,71.775000,53.550000,437.625000,3.300000,0.0
Steel,437.913043,60.434783,92.086957,126.652174,61.217391,76.304348,49.739130,466.434783,3.869565,0.0
Water,300.490741,71.120370,72.777778,71.990741,72.305556,68.175926,65.027778,421.398148,2.851852,0.0

### *Sort by total*

In [32]:
df2 = df.loc[df['Legendary'] == False]
df2.groupby(['Type 1']).mean().sort_values('Total', ascending=False)

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary
Type 1,,,,,,,,,,
Dragon,447.350000,72.650000,103.400000,78.150000,72.900000,77.400000,72.350000,476.850000,3.750000,0.0
Steel,437.913043,60.434783,92.086957,126.652174,61.217391,76.304348,49.739130,466.434783,3.869565,0.0
Fire,322.957447,67.085106,82.191489,64.531915,86.000000,69.042553,73.276596,442.127660,3.234043,0.0
Rock,370.650000,65.125000,89.925000,97.125000,60.125000,71.775000,53.550000,437.625000,3.300000,0.0
Dark,451.517241,64.655172,86.862069,68.689655,70.620690,67.827586,73.689655,432.344828,3.965517,0.0
Electric,358.050000,57.325000,66.125000,65.425000,86.275000,72.325000,82.275000,429.750000,3.275000,0.0
Ghost,486.466667,58.733333,71.366667,79.266667,77.300000,74.233333,62.633333,423.533333,4.200000,0.0
Psychic,374.093023,67.720930,54.953488,61.000000,88.302326,80.674419,70.348837,423.000000,3.418605,0.0
Water,300.490741,71.120370,72.777778,71.990741,72.305556,68.175926,65.027778,421.398148,2.851852,0.0
Ice,438.318182,70.818182,73.227273,68.818182,75.727273,68.454545,63.090909,420.136364,3.681818,0.0
Fighting,363.851852,69.851852,96.777778,65.925926,53.111111,64.703704,66.074074,416.444444,3.370370,0.0
Grass,336.074627,65.940299,72.119403,70.283582,76.343284,69.044776,59.701493,413.432836,3.313433,0.0
Ground,333.750000,70.821429,88.000000,79.821429,47.750000,59.571429,59.750000,405.714286,3.035714,0.0
Poison,251.785714,67.250000,74.678571,68.821429,60.428571,64.392857,63.571429,399.142857,2.535714,0.0
Fairy,432.875000,70.875000,57.187500,63.875000,75.250000,83.875000,45.437500,396.500000,4.000000,0.0
Normal,315.625000,76.489583,72.083333,58.697917,54.895833,62.656250,70.750000,395.572917,3.031250,0.0
Flying,714.500000,62.500000,50.000000,57.500000,71.000000,60.000000,89.000000,390.000000,6.000000,0.0
Bug,334.492754,56.884058,70.971014,70.724638,53.869565,64.797101,61.681159,378.927536,3.217391,0.0

### *Get the sum*

In [37]:
df2.groupby(['Type 1']).sum()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary
Type 1,,,,,,,,,,
Bug,23080,3925,4897,4880,3717,4471,4256,26146,222,0
Dark,13094,1875,2519,1992,2048,1967,2137,12538,115,0
Dragon,8947,1453,2068,1563,1458,1548,1447,9537,75,0
Electric,14322,2293,2645,2617,3451,2893,3291,17190,131,0
Fairy,6926,1134,915,1022,1204,1342,727,6344,64,0
Fighting,9824,1886,2613,1780,1434,1747,1784,11244,91,0
Fire,15179,3153,3863,3033,4042,3245,3444,20780,152,0
Flying,1429,125,100,115,142,120,178,780,12,0
Ghost,14594,1762,2141,2378,2319,2227,1879,12706,126,0
Grass,22517,4418,4832,4709,5115,4626,4000,27700,222,0
Ground,9345,1983,2464,2235,1337,1668,1673,11360,85,0
Ice,9643,1558,1611,1514,1666,1506,1388,9243,81,0
Normal,30300,7343,6920,5635,5270,6015,6792,37975,291,0
Poison,7050,1883,2091,1927,1692,1803,1780,11176,71,0
Psychic,16086,2912,2363,2623,3797,3469,3025,18189,147,0
Rock,14826,2605,3597,3885,2405,2871,2142,17505,132,0
Steel,10072,1390,2118,2913,1408,1755,1144,10728,89,0
Water,32453,7681,7860,7775,7809,7363,7023,45511,308,0

### *Count*

In [39]:
df2.groupby(['Type 1']).count()

,#,Name,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary
Type 1,,,,,,,,,,,,
Bug,69,69,52,69,69,69,69,69,69,69,69,69
Dark,29,29,20,29,29,29,29,29,29,29,29,29
Dragon,20,20,9,20,20,20,20,20,20,20,20,20
Electric,40,40,14,40,40,40,40,40,40,40,40,40
Fairy,16,16,2,16,16,16,16,16,16,16,16,16
Fighting,27,27,7,27,27,27,27,27,27,27,27,27
Fire,47,47,20,47,47,47,47,47,47,47,47,47
Flying,2,2,2,2,2,2,2,2,2,2,2,2
Ghost,30,30,20,30,30,30,30,30,30,30,30,30
Grass,67,67,35,67,67,67,67,67,67,67,67,67
Ground,28,28,16,28,28,28,28,28,28,28,28,28
Ice,22,22,10,22,22,22,22,22,22,22,22,22
Normal,96,96,37,96,96,96,96,96,96,96,96,96
Poison,28,28,13,28,28,28,28,28,28,28,28,28
Psychic,43,43,14,43,43,43,43,43,43,43,43,43
Rock,40,40,32,40,40,40,40,40,40,40,40,40
Steel,23,23,19,23,23,23,23,23,23,23,23,23
Water,108,108,52,108,108,108,108,108,108,108,108,108

<br>
We can see that there is a lot of repeated values above, we can clean this up by doing
the following:

In [40]:
df['count'] = 1 # this makes a column that is 1 for each row

df.groupby(['Type 1']).count()['count'] # This simply gives the count for type 1

Type 1
Bug          69
Dark         31
Dragon       32
Electric     44
Fairy        17
Fighting     27
Fire         52
Flying        4
Ghost        32
Grass        70
Ground       32
Ice          24
Normal       98
Poison       28
Psychic      57
Rock         44
Steel        27
Water       112
Name: count, dtype: int64

### *We can also subset this*

In [41]:
df.groupby(['Type 1', 'Type 2']).count()['count']

Type 1  Type 2
Bug     Electric     2
        Fighting     2
        Fire         2
        Flying      14
        Ghost        1
                    ..
Water   Ice          3
        Poison       3
        Psychic      5
        Rock         4
        Steel        1
Name: count, Length: 136, dtype: int64

<br><br>
***
<br>
## 8. Working With Large Amounts of Data

### *chunksize*

In [1]:
#for df in pd.read_csv('/Users/vincentvogel/Desktop/new_me/Python/Pandas/basics/modified_pokemon_data.csv', chunksize=5):
    #print("**Chunk**")
    #print(df)

In [43]:
new_df = pd.DataFrame(columns=df.columns) # creates a new dataframe with the same column names

for df in pd.read_csv('/Users/vincentvogel/Desktop/new_me/Python/Pandas/basics/modified_pokemon_data.csv', chunksize=5):
    results = df.groupby(['Type 1']).count()
    new_df = pd.concat([new_df, results])
new_df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary
Fire,1,1,NaN,0,1,1,1,1,1,1,1,1,1
Grass,4,4,NaN,4,4,4,4,4,4,4,4,4,4
Fire,4,4,NaN,3,4,4,4,4,4,4,4,4,4
Water,1,1,NaN,0,1,1,1,1,1,1,1,1,1
Bug,2,2,NaN,0,2,2,2,2,2,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Fairy,1,1,NaN,0,1,1,1,1,1,1,1,1,1
Flying,2,2,NaN,2,2,2,2,2,2,2,2,2,2
Fire,1,1,NaN,1,1,1,1,1,1,1,1,1,1
Psychic,2,2,NaN,2,2,2,2,2,2,2,2,2,2
Rock,2,2,NaN,2,2,2,2,2,2,2,2,2,2